nav{
    background-color: #DCDCDC;
}

.navbar{
    margin: 0px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    font-size: 20px;
}

.icon-bar{ 
    background-color: black;
}



footer{
    height: 50px;
    text-align: right;
    padding: 0 15.5px 15.5px;
    font-size: 25px;
    background-color: #999;
}